<h1>Cadastro de usuário</h1>
<hr>
<form action="/criar" method="post">
    <input type="text" name="nome" id="nome" placeholder="Nome:"><br>
    <input type="email" name="email" id="email" placeholder="E-mail:"><br>
    <input type="number" name="idade" id="idade" placeholder="Idade:"><br>
    <button type="submit">Cadastrar</button>
</form>